<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reversecoder.appium.settings">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <!-- network permission-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <!-- unlock -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- to grant read/write permission of sdcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- to grant permission -->
    <uses-permission android:name="android.permission.GRANT_REVOKE_PERMISSIONS" />

    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.reversecoder.appium.settings.activity.MainActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.reversecoder.appium.settings.broadcast.HandleBroadcastReceiver">
            <intent-filter>
                <action android:name="AppiumSettings" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.reversecoder.appium.settings.player.PlayerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:stateNotNeeded="true"/>

        <activity
            android:name="com.reversecoder.appium.settings.account.HandleAccountActivity"
            android:excludeFromRecents="true"/>

        <activity
            android:name="com.reversecoder.appium.settings.locale.HandleLocaleActivity"
            android:excludeFromRecents="true">
            <!--            <intent-filter>
                            <action android:name="android.intent.action.VIEW" />
                            <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>-->
        </activity>

        <activity
            android:name="com.reversecoder.appium.settings.network.NetworkActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:stateNotNeeded="true"/>

        <service
            android:name="com.reversecoder.appium.settings.network.LocationService"
            android:exported="true"/>

        <service
            android:name="com.reversecoder.appium.settings.player.PlayerService"
            android:exported="true"/>

        <activity
            android:name="com.reversecoder.appium.settings.unlock.Unlock"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:stateNotNeeded="true"/>
    </application>

</manifest>